.login-field {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2; /* ⬅️ Ensure this is above the background */
  }
  
  .login-field img {
    width: 200px;
    height: 200px;
  }


  
.login-field ul {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 10px;

  justify-content: center;

  list-style-type: none;

  padding: 0;

}



.login-field li {

  font-family: Arial, sans-serif;

  font-size: 16px;

  text-align: center;

  padding: 10px;

  background-color: #f0f0f0;

  border-radius: 5px;

}
