.poker-wrapper {
    height: 100vh;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    background-color: #3c7ac5;
    overflow:"hidden";
  }
  
  .poker-background {
    flex: 1;
    background-image: url('../../assets/poker_table.jpg');
    background-color: #b4c7be;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    width: "100%";
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Specifically handle body and html */
  html, body {
    width: 100%;
    height: 100%;
    background-color: #0a1a2f; /* or your desired background */
    overflow-x: hidden; /* Avoid horizontal scroll */
  }
  
  
  