.avatarAces {
  position: absolute;
  width: 29%;
  right: 2%;
  z-index: 3;
}
.avatarChips {
  position: absolute;
  width: 21%;
  right: 5%;
  z-index: 3;
}

.welcome-page-buttons {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  justify-content: center;  
  gap: 20px;
  width: 100%;  
  z-index: 2;
  position: relative; 
  overflow: hidden;
}

.welcome-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    font-size: 1.2rem;
    background-color: #dad0d0;
    color: rgb(23, 29, 26);
    border-radius: 9%;
    border: "3px solid black";
    font-weight: bold;
    width: 400px;
    height: 75px;         
    margin-bottom: 0;   
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

.welcome-button:hover {
    background-color: #f0f0f0;
}